@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

//* outline, un contorno es una línea que se dibuja alrededor de los elementos, FUERA de los bordes, 
//*          para hacer que el elemento "se destaque".
//* linear, especifica un efecto de transición con la misma velocidad de principio a fin.

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

$carrot-color: #e67e22;
$black: #130f40;
$white: #fff;
$light-color: #666;
$light-bg: #eee;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 1.5rem;
}

@mixin form-btn {
    width: 100%;
    text-align: center;

    &:hover {
        background-color: $black;
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(3rem);
        opacity: 0;
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;

    &::-webkit-scrollbar {
        width: 1rem;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background: $carrot-color;
        border-radius: 5rem;
    }
}

.header {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
    box-shadow: $box-shadow;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(-10rem);

    &--active {
        transform: translateY(0rem);
    }

    &__logo {
        font-size: 2.5rem;
        color: $black;
        font-weight: bolder;

        i {
            color: $carrot-color;
        }
    }

    &__navbar a {
        margin: 0 1rem;
        font-size: 1.7rem;
        color: $light-color;

        &:hover {
            color: $carrot-color;
        }
    }

    &__icons {

        &__menu-btn {
            display: none;
        }

        &__menu-btn,
        &__shopping-cart,
        &__login-btn {
            font-size: 2.5rem;
            margin-left: 1.5rem;
            color: $black;
            cursor: pointer;
        }

        &__menu-btn:hover,
        &__shopping-cart:hover,
        &__login-btn:hover {
            color: $carrot-color;
        }
    }
}

.login-form {
    position: absolute;
    top: 120%;
    right: 2rem;
    border-radius: 1rem;
    background-color: $white;
    box-shadow: $box-shadow;
    padding: 2rem;
    display: none;

    &__title {
        color: $black;
        font-size: 2.5rem;
        padding-bottom: .5rem;
    }

    &__email,
    &__password {
        width: 100%;
        border-bottom: $border;
        border-width: .1rem;
        padding: 1.5rem 0;
        margin: 1rem 0;
        font-size: 1.6rem;
        color: $black;
        text-transform: none;
    }

    &__submit {
        border: $border;
        display: inline-block;
        padding: .8rem 2.8rem;
        border-radius: 5rem;
        border-top-left-radius: 0;
        background: none;
        color: $black;
        font-size: 1.7rem;
        overflow: hidden;
        z-index: 0;
        position: relative;

        @include form-btn();
        margin: 1.5rem 0;
        cursor: pointer;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $black;
            z-index: -1;
            transition: .2s linear;
            clip-path: circle(0% at 0% 5%);
        }

        &:hover::before {
            clip-path: circle(100%);
        }

        &:hover {
            color: $white;
        }
    }

    &--active {
        display: block;
        animation: fadeIn 0.4s linear;
    }
}

.remember-container {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;

    label {
        font-size: 1.5rem;
        cursor: pointer;
        color: $light-color;
    }
}

.links-container {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;

    &__forget-password,
    &__sing-up {
        font-size: 1.4rem;
        color: $carrot-color;

        &:hover {
            color: $black;
            text-decoration: underline;
        }
    }

}


//* Media queries
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .header {
        &__navbar {
            position: absolute;
            top: 99%;
            left: 0;
            right: 0;
            background-color: $white;
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

            a {
                display: block;
                margin: 2rem;
                font-size: 2rem;
            }

            &--active {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }

        &__icons {
            &__menu-btn {
                display: inline-block;
            }
        }
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .header .login-form {
        width: 90%;
    }
}